html {
    font-size: 62.5%;
    /* 10px */
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #f8f6ed;
    color: #1285c5;;
}

* {
    box-sizing: border-box;
}
a{
    color: #1285c5;
}

@media screen and (max-width: 1024px) { /*ウィンドウ幅が835~1024pxまでの場合に適用_タブレット*/


/* header */
.header{
    position: relative;
    width: 100%;
}

.header_title{
    position: fixed;
    top: 0;
    left: 5vw;
    height: 150px;
    font-size: 4rem;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 1100; /* ヘッダーより前面に */
    background-color: transparent; /* 初期状態では背景なし */
    padding: 10px 20px;
}

.header_top{
    position: absolute; /* 初期位置のまま */
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 垂直方向の中央揃え */
    width: 100%;
    height: 80px;
    padding: 0 15px;
    border-top: 1px solid #1285c5;
    border-bottom: 1px solid #1285c5;
    background-color: #f8f6ed;
    z-index: 1000; /* 前面に表示 */
    transition: all 0.3s ease-in-out;
}
.header_top.fixed{
    position: fixed;
    top: 0;
    left: 0;
    border-top: none;
    height: 60px;
}
.hamburger{
    display: none;
}

/* スクロール時にタイトルをヘッダー上に重ねる */
.header_title.overlap {
    top: 0;
    left: 15px;
    height: 60px;
    font-size: 2rem; /* 小さくして一体化 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .headerTop_title{
    font-size: 2.4rem;
    letter-spacing: 0.1em;
} */

/* スクロール時にタイトルを縮小 */
.header_title.shrink {
    top: 10px; /* ヘッダーにぴったり合う位置に調整 */
    font-size: 2rem; /* 小さくして一体化 */
    left: 15px;
}


.header_btn{
    display: none;
}

.header_menu{
    display: flex;
    align-items: center;
}
.header_nav{
    display: flex;
    align-items: center;
    list-style: none;
}
.header_menuLink{
    padding-right: 2rem;
    list-style: none;
}
.header_text{
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    font-weight: bold;
}
.header_reserve{
    text-align: center;
    padding: 12px 22px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.headerSns{
    display: flex;
    padding-left: 4rem;
}
.headerSns_logo{
    padding-right: 1.6rem;
}
.headerSns_image{
    width: 18px;
    height: 18px;
}


/* main */


.side{
    display: flex;
    position: fixed;
    top: 10%;
    right: 1rem;
    writing-mode: vertical-rl;
    z-index: 1000;
}
.side_logo{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.mainVisual{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    border-bottom: 1px solid #1285c5;
}

.mainVisual_inner{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    border-right: 1px solid #1285c5;
}

.mainVisual_subTitle{
    font-size: 2rem;
    letter-spacing: 0.1em;
}

.mainVisual_title{
    padding-top: 30px;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.mainVisual_hero{
    width: 50%;
    /* height: 500px; */
    /* height: 45svh; */

    overflow: hidden; /* 画像がはみ出る場合、非表示にする */
    line-height: 0;
}

.mainVisual_image{
    width: auto;
    height: 100%;
    object-fit: cover;

}




/* mainSection */
.main_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2カラムに分割 */
    grid-template-rows: repeat(2, auto); /* 行を2つに分割 */
}


.main_inner{
    display: grid;
    align-items: center;
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 16rem;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.mainSection_subTitle{
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.mainSection_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
}

.mainSection_title{
    padding-bottom: 50px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
}
.mainSection_text{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.05em;
}

.mainSection_link{
    padding-top: 60px;
}

.mainSection_btn{
    text-align: center;
    padding: 20px 60px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer; /* カーソルをポインタに */
    position: relative;
    transition: background-color 0.3s ease-in-out;
}


.mainSection_btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}


.mainSection_visual{
    width: 100%;
    height: auto;
    height: 100vh;
    padding: 5%;
    border-bottom: 1px solid #1285c5;

}
.mainSection_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* CSSで順番を変更 */
.mainSection_visual:nth-child(2) {
    order: 1; /* 最初に表示 */
    border-right: 1px solid #1285c5;

}

.main_inner:nth-child(1) {
    order: 2; /* 2番目に表示 */
}

.main_inner:nth-child(3) {
    order: 3; /* 3番目に表示 */
    border-right: 1px solid #1285c5;

}

.mainSection_visual:nth-child(4) {
    order: 4; /* 最後に表示 */
}

/* menuSection */
.menu{
    display: flex;
    flex-wrap: wrap;
}

.menuSection{
    width: 50%;
    padding: 2vw;
    border-bottom: 1px solid #1285c5;

}
.menuSection:nth-child(odd){
    border-right: 1px solid #1285c5;
}
.menuSection_visualLink{
    cursor: pointer; /* カーソルをポインタに */
}
.menuSection_visualLink:hover .menuSection_image{
    transform: scale(1.2);
    transition: transform 0.3s ease-in; /* 速く拡大 */
}

.menuSection_visual{
    width: 100%;
    height: auto;
    overflow: hidden; /* はみ出た部分を隠す */
}

.menuSection_image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 1s ease-out; /* ゆっくり戻す */
}

.menuSection_inner{
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.menuSection_title{
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.05em;

}
.menuSection_subTitle{
    padding-bottom: 30px;
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;

}
.menuSection_text{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.05em;
}

.menuSection_link{
    padding-top: 60px;
}

.menuSection_btn{
    text-align: center;
    padding: 20px 60px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer; /* カーソルをポインタに */
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.menuSection_btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}


/* news */

.news{
    display: flex;
    align-items: center;
    padding: 80px 0;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.news_title{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.news_container{
    position: relative;
    padding-left: 3rem;
    flex: 1;
    cursor: pointer;
}
.news_container::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.news_day{
    padding-bottom: 18px;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.news_text{
    padding-right: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    overflow-wrap: break-word;
    word-wrap: break-word
}



/* user */

.user{
    display: flex;
}
.user_inner{
    flex: 1; /* 各アイテムを均等に分割 */

}
.user_inner:not(:last-of-type) {
    border-right: 1px solid #1285c5;
}

/* map */

.map{
    padding: 6rem 4vw;
    padding-bottom: 8rem;
    overflow-wrap: break-word; /* 同じ意味 */
}

.map_title{
    padding-bottom: 50px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.8;
    word-wrap: break-word; /* 推奨される方法 */
    overflow-wrap: break-word; /* 同じ意味 */
}

.map_text{
    padding-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 2;
}

/* blog */
.blog{
    display: flex;
}
.blog_inner{
    padding: 2vw;
}
.blog_visualLink{
    cursor: pointer; /* カーソルをポインタに */
}
.blog_visualLink:hover .blog_image{
    transform: scale(1.2);
    transition: transform 0.3s ease-in; /* 速く拡大 */
}

.blog_visual{
    width: 100%;
    height: auto;
    overflow: hidden; /* はみ出た部分を隠す */
}
.blog_image{
    width: 100%;
    height: 32vh;
    object-fit: cover;
    transition: transform 1s ease-out; /* ゆっくり戻す */
}

.blog_container{
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.blog_number{
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.blog_title{
    display: inline-block;
    padding-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.6;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
}
.blog_link{
    padding-top: 2rem;
}

.blog_text{
    position: relative;
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.blog_text::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}



/* footer */
.footer{
    padding: 7rem 4vw 7rem 4vw;
    background-color: #1285c5;
    color: #FFF;

}
.footerSection{
    flex: 1;
}
.footer_inner{
    display: flex;
}

.footer_title{
    padding-bottom: 4rem;
    color: #FFF;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.access{
    padding-bottom: 3rem;


}
.access_title{
    padding-bottom: 3rem;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
}
.access_address{
    padding-bottom: 3rem;
    font-size: 1.3rem;
    letter-spacing: 0.05em;
}

.access_data{
    display: flex;
    padding-bottom: 1rem;


}
.access_term{
    font-size: 1.3rem;
    letter-spacing: 0.05em;

}
.access_description{
    font-size: 1.3rem;
    letter-spacing: 0.05em;
}

.info{


}

.Contact_inner{
    padding-bottom: 3rem;
}

.info_inner{
    padding-bottom: 3rem;
    cursor: pointer;
}
.info_link{
    display: block;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.info_title{
    padding-bottom: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
}
.info_text{
    font-size: 1.1rem;
    letter-spacing: 0.05em;
}
.info_box{
    display: flex;
    margin-top: 1rem;
}
.Contact_link{
    display: block;
    text-align: center;
    border: 1px solid #fff;
    padding: 1rem 1.5rem;
    margin-right: 4px;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* footer_bottom */
.footer_bottom{
    display: grid;
    /* justify-content: space-between; */
    /* align-items: center; */

}
.sns{
    display: flex;
    margin-top: -50px;
}
.sns_logo{
    padding-right: 20px;
}
.sns_image{
    width: 20px;
    height: 20px;
	cursor: pointer;
}
.copyright{
    padding-top: 2rem;
}
.copyright_text{
    font-size: 1rem;
    letter-spacing: 0.1em;
}
}

@media screen and (max-width: 834px) { /*ウィンドウ幅が521~834pxまでの場合に適用_スマートフォン_SP*/

/* header */


.header_top{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center; /* 垂直方向の中央揃え */
    width: 100%;
    height: 60px;
    padding: 0 15px;
    border-top: none;
    border-bottom: 1px solid #1285c5;
    background-color: #f8f6ed;
}

.header_title{
    position: fixed;
    top: 0;
    left: 3vw;
    height: 60px;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 1100; /* ヘッダーより前面に */
    background-color: transparent; /* 初期状態では背景なし */
    padding: 10px 20px;
}
.header_title.overlap {
    position: static !important; /* 固定解除 */
    top: auto !important; /* 位置をデフォルトに戻す */
    left: auto !important;
    font-size: 3rem !important; /* 必要ならフォントサイズも調整 */
    background-color: transparent !important; /* 背景も元に戻す */
}


.headerTop_title{
    font-size: 2.4rem;
    letter-spacing: 0.1em;
}

/* ハンバーガーメニュー */
.header_btn{
    display: grid;
    cursor: pointer;
    position: relative; /* 追加 */
    z-index: 1300; /* メニューより前面に */
    border: none; /* ボーダーを削除 */
    background-color: transparent; /* 背景色を透明に設定 */
}

.header_btn span{
    display: block;
    width: 30px;
    height: 2px; /* 線の太さ */
    margin: 3px 0;
    background-color: #1285c5; /* 線の色 */
    border-radius: 1px; /* 線の端を丸くする */
    transition: all 0.3s ease; /* アニメーション用のトランジション */
}

/* ナビゲーションメニュー */
.hamburger {
    display: grid;
    position: fixed;
    top: 0;
    right: -400px; /* 初期状態では画面外 */
    width: 95vw;
    max-width: 400px;
    height: 100vh;
    color: #FFF;
    background: #1285c5;
    padding-top: 20px;
    padding-left: 40px;
    transition: 0.3s;
    z-index: 1200; /* .header_title より前面に表示 */
}
.hamburger_title{
    padding-bottom: 40px;
    font-size: 2.4rem;
    letter-spacing: 0.05em;
}

.hamburger_list{
    list-style: none;
    padding: 0;
}

.hamburger a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.hamburger_list li {
    padding-bottom: 20px;
}
.hamburger_list p {
    width: 7em;
    margin: 0; /* pの余白をリセット */
    margin-right: 30px;
    color: white;
    font-size: 2.2rem;
    letter-spacing: 0.05em;
}
.hamburger_list span{
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    opacity: 0.9;
}
.hamburger_list span::before{
    content: "";
    display: block;
    width: 1em;
    height: 1px;
    position: absolute;
    left: -20px;
    top: 48%;
    background-color: #fff;
    opacity: 0.9;
}
.sub{
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid #fff;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    opacity: 0.5;
}

.sub li{
    padding-bottom: 2rem;
}

.hamburger_sns{
    display: flex;
    padding-top: 20px;
}

.hamburger_snsImg{
    width: 30px;
    height: 30px;
	cursor: pointer;
}
.hamburger_sns li{
    padding-right: 20px;

}

/* メニューが開いたとき */
.hamburger.active {
    right: 0;
    z-index: 1200; /* 開いた時に更に手前に持ってくる */
}

.header_btn.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.header_btn.active span:nth-child(2) {
    opacity: 0;
}

.header_btn.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.header_btn.active span {
    background-color: white; /* 白に変更して目立たせる */
}



/* hamburger_list p のアニメーション */
.hamburger_container {
    opacity: 0; /* 初期状態では非表示 */
    transform: translateX(20%); /* 右から隠れている */
    transition: opacity 1s ease, transform 2s ease; /* アニメーションを設定 */
}

.hamburger.active .hamburger_container {
    opacity: 1; /* メニューが開いたら表示 */
    transform: translateX(0); /* 右からスライドして出てくる */
}

/*  */
.header_menu{
    display: none;
}
/* main */

.side{
    display: flex;
    position: fixed;
    top: 10%;
    right: 0;
    writing-mode: vertical-rl;
    z-index: 1000;
}
.side_logo{
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.mainVisual{
    display: block;
    height: 100vh;
    border-bottom: 1px solid #1285c5;
}

.mainVisual_inner{
    width: 100%;
    height: 45svh;
    padding-top: 160px;
    padding-bottom: 110px;
    padding-left: 5vw;
    border-right: none;
}

.mainVisual_subTitle{
    font-size: 2rem;
    letter-spacing: 0.1em;
}

.mainVisual_title{
    padding-top: 40px;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.mainVisual_hero{
    width: 100%;
    height: 55vh;
    overflow: hidden; /* 画像がはみ出る場合、非表示にする */
    line-height: 0;
}

.mainVisual_image{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


/* mainSection */
.main_container{
    display: block;
}
.main_inner{
    display: grid;
    align-items: center;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.mainSection_subTitle{
    padding-bottom: 50px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.mainSection_container{
    padding: 0;
}

.mainSection_title{
    padding-bottom: 30px;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
}
.mainSection_text{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

.mainSection_link{
    padding-top: 60px;
}

.mainSection_btn{
    text-align: center;
    padding: 20px 60px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer; /* カーソルをポインタに */
    position: relative;
    transition: background-color 0.3s ease-in-out;
}


.mainSection_btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}


.mainSection_visual{
    width: 100%;
    height: auto;
    padding: 5%;
    border-bottom: 1px solid #1285c5;

}
.mainSection_visual:nth-child(2) {
    order: 1;
    border-right: none;
}
.main_inner:nth-child(3) {
    order: 3;
    border-right: none;
}
.mainSection_image{
    width: 100%;
    height: 600px;
    object-fit: cover;

}

/* menuSection */
.menu{
    display: flex;
    flex-wrap: wrap;
}


.menuSection{
    width: 50%;
    padding: 4vw;
}
.menuSection:nth-child(odd){
    border-right: 1px solid #1285c5;
}
.menuSection_visualLink{
    cursor: pointer; /* カーソルをポインタに */
}
.menuSection_visualLink:hover .menuSection_image{
    transform: scale(1.2);
    transition: transform 0.3s ease-in; /* 速く拡大 */
}

.menuSection_visual{
    width: 100%;
    height: auto;
    overflow: hidden; /* はみ出た部分を隠す */
}

.menuSection_image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 1s ease-out; /* ゆっくり戻す */
}

.menuSection_inner{
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.menuSection_title{
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.05em;

}
.menuSection_subTitle{
    padding-bottom: 30px;
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;

}
.menuSection_text{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

.menuSection_link{
    padding-top: 60px;
}

.menuSection_btn{
    text-align: center;
    padding: 20px 60px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer; /* カーソルをポインタに */
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.menuSection_btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}


/* news */

.news{
    display: grid;
    padding: 6rem;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.news_title{
    padding-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.news_container{
    position: relative;
    padding: 0;
    cursor: pointer;
}
.news_container::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.news_day{
    padding-bottom: 20px;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.news_text{
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    position: relative;
}



/* user */
.user{
    display: flex;
    flex-wrap: wrap;
}
.user_inner{
    flex: auto;
    width: 50%;
}

.user_inner:first-child {
    flex: auto;
    width: 100%;
}
.user_inner:not(:last-of-type) {
    border-right: none;
}
.user_inner:nth-of-type(2) {
    border-right: 1px solid #1285c5;
}

/* map */

.map{
    padding: 6rem;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.map_title{
    padding-bottom: 40px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.map_text{
    font-size: 1.3rem;
    /* font-weight: bold; */
    letter-spacing: 0.05em;
    line-height: 1.6;
}

/* blog */
.blog{
    display: flex;
}
.blog_inner{
    width: 100%;
    padding: 3vw;
}

.blog_visualLink{
    cursor: pointer; /* カーソルをポインタに */
}
.blog_visualLink:hover .blog_image{
    transform: scale(1.2);
    transition: transform 0.3s ease-in; /* 速く拡大 */
}

.blog_visual{
    width: 100%;
    height: auto;
    /* padding: 5%; */
    overflow: hidden; /* はみ出た部分を隠す */
}
.blog_image{
    width: 100%;
    height: 35vw;
    object-fit: cover;
    transition: transform 1s ease-out; /* ゆっくり戻す */
}

.blog_container{
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.blog_number{
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.blog_title{
    display: inline-block;
    padding-bottom: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.6;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
}

.blog_link{
    padding-top: 2rem;
}

.blog_text{
    position: relative;
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.blog_text::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}

/* footer */
.footer{
    padding: 5rem 4vw 8rem 4vw;
    background-color: #1285c5;
    color: #FFF;
}
.footer_inner{
    display: block;
}
.footer_title{
    padding-bottom: 4rem;
    font-size: 2.2rem;
    /* font-weight: bold; */
    letter-spacing: 0.1em;
}
.access{
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.access_title{
    padding-bottom: 1.4rem;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
}
.access_address{
    padding-bottom: 1.6rem;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.access_data{
    display: flex;
    padding-bottom: 1rem;


}
.access_term{
    font-size: 1.2rem;
    letter-spacing: 0.05em;

}
.access_description{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.Contact_inner{
    padding-bottom: 3rem;
}
.info_inner{
    padding-bottom: 3rem;
    cursor: pointer;
}
.info_link{
    display: block;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.info_title{
    padding-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
}
.info_text{
    font-size: 1.1rem;
    letter-spacing: 0.05em;
}
.info_box{
    display: flex;
    margin-top: 1rem;
}
.Contact_link{
    display: block;
    text-align: center;
    border: 1px solid #fff;
    padding: 1.2rem 1.4rem;
    margin-right: 10px;
    margin-bottom: 8px;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* footer_bottom */
.footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sns{
    display: flex;
    margin: 0;
}
.sns_logo{
    padding-right: 20px;
}
.sns_image{
    width: 20px;
    height: 20px;
	cursor: pointer;
}
.copyright_text{
    font-size: 1rem;
    letter-spacing: 0.1em;
}
}

@media screen and (max-width: 520px) { /*ウィンドウ幅が0~520pxまでの場合に適用_スマートフォン_SP*/

/* header */

.header_top{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center; /* 垂直方向の中央揃え */
    width: 100%;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #1285c5;
    background-color: #f8f6ed;
}

.header_title{
    position: fixed;
    top: 0;
    left: 3vw;
    height: 60px;
    font-size: 2.4rem;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 1100; /* ヘッダーより前面に */
    background-color: transparent; /* 初期状態では背景なし */
    padding: 10px 20px;
}

/* ハンバーガーメニュー */
.header_btn{
    display: grid;
    cursor: pointer;
    position: relative; /* 追加 */
    z-index: 1300; /* メニューより前面に */
    border: none; /* ボーダーを削除 */
    background-color: transparent; /* 背景色を透明に設定 */
}

.header_btn span{
    display: block;
    width: 30px;
    height: 2px; /* 線の太さ */
    margin: 3px 0;
    background-color: #1285c5; /* 線の色 */
    border-radius: 1px; /* 線の端を丸くする */
    transition: all 0.3s ease; /* アニメーション用のトランジション */
}

/* ナビゲーションメニュー */
.hamburger {
    display: grid;
    position: fixed;
    top: 0;
    right: -400px; /* 初期状態では画面外 */
    width: 95vw;
    max-width: 400px;
    height: 100vh;
    color: #FFF;
    background: #1285c5;
    padding-top: 20px;
    padding-left: 40px;
    transition: 0.3s;
    z-index: 1200; /* .header_title より前面に表示 */
}
.hamburger_title{
    padding-bottom: 40px;
    font-size: 2.4rem;
    letter-spacing: 0.05em;
}

.hamburger_list{
    list-style: none;
    padding: 0;
}

.hamburger a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.hamburger_list li {
    padding-bottom: 20px;
}
.hamburger_list p {
    width: 7em;
    margin: 0; /* pの余白をリセット */
    margin-right: 30px;
    color: white;
    font-size: 2.2rem;
    letter-spacing: 0.05em;
}
.hamburger_list span{
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    opacity: 0.9;
}
.hamburger_list span::before{
    content: "";
    display: block;
    width: 1em;
    height: 1px;
    position: absolute;
    left: -20px;
    top: 48%;
    background-color: #fff;
    opacity: 0.9;
}
.sub{
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid #fff;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    opacity: 0.5;
}

.sub li{
    padding-bottom: 2rem;
}

.hamburger_sns{
    display: flex;
    padding-top: 20px;
}

.hamburger_snsImg{
    width: 30px;
    height: 30px;
	cursor: pointer;
}
.hamburger_sns li{
    padding-right: 20px;

}

/* メニューが開いたとき */
.hamburger.active {
    right: 0;
    z-index: 1200; /* 開いた時に更に手前に持ってくる */
}

.header_btn.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.header_btn.active span:nth-child(2) {
    opacity: 0;
}

.header_btn.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.header_btn.active span {
    background-color: white; /* 白に変更して目立たせる */
}



/* hamburger_list p のアニメーション */
.hamburger_list li {
    opacity: 0; /* 初期状態では非表示 */
    transform: translateX(50%); /* 右から隠れている */
    transition: opacity 1s ease, transform 2s ease; /* アニメーションを設定 */
}

.hamburger.active .hamburger_list li {
    opacity: 1; /* メニューが開いたら表示 */
    transform: translateX(0); /* 右からスライドして出てくる */
}

/*  */
.header_menu{
    display: none;
}
/* main */

.side{
    display: flex;
    position: fixed;
    top: 10%;
    right: 0;
    writing-mode: vertical-rl;
    z-index: 1000;
}
.side_logo{
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.mainVisual{
    display: block;
    height: 100vh;
    border-bottom: 1px solid #1285c5;
}

.mainVisual_inner{
    height: 45vh;
    padding-top: 160px;
    padding-bottom: 110px;
    padding-left: 5vw;
}

.mainVisual_subTitle{
    font-size: 2rem;
    letter-spacing: 0.1em;
}

.mainVisual_title{
    padding-top: 30px;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.mainVisual_hero{
    width: 100%;
    height: 55vh;
    overflow: hidden; /* 画像がはみ出る場合、非表示にする */
    line-height: 0;
}

.mainVisual_image{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


/* mainSection */
.main_inner{
    display: grid;
    align-items: center;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.mainSection_subTitle{
    padding-bottom: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.mainSection_title{
    padding-bottom: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
}
.mainSection_text{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

.mainSection_link{
    padding-top: 60px;
}

.mainSection_btn{
    text-align: center;
    padding: 20px 60px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer; /* カーソルをポインタに */
    position: relative;
    transition: background-color 0.3s ease-in-out;
}


.mainSection_btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}


.mainSection_visual{
    width: 100%;
    height: auto;
    padding: 5%;
    border-bottom: 1px solid #1285c5;

}
.mainSection_visual:nth-child(2) {
    order: 1;
    border-right: none;
}
.main_inner:nth-child(3) {
    order: 3;
    border-right: none;
}
.mainSection_image{
    width: 100%;
    height: 450px;
    object-fit: cover;

}

/* menuSection */
.menu{
    display: grid;
}

.menuSection{
    width: 100%;
    padding: 4vw;
}
.menuSection:nth-child(odd) {
    border-right: none;
}
.menuSection_visualLink{
    cursor: pointer; /* カーソルをポインタに */
}
.menuSection_visualLink:hover .menuSection_image{
    transform: scale(1.2);
    transition: transform 0.3s ease-in; /* 速く拡大 */
}

.menuSection_visual{
    width: 100%;
    height: auto;
    overflow: hidden; /* はみ出た部分を隠す */
}

.menuSection_image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 1s ease-out; /* ゆっくり戻す */
}


.menuSection_inner{
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.menuSection_title{
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.05em;

}
.menuSection_subTitle{
    padding-bottom: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;

}
.menuSection_text{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

.menuSection_link{
    padding-top: 60px;
}

.menuSection_btn{
    text-align: center;
    padding: 20px 60px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer; /* カーソルをポインタに */
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.menuSection_btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}


/* news */

.news{
    padding: 6rem;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.news_title{
    padding-bottom: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.news_container{
    position: relative;
    cursor: pointer;
}
.news_container::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.news_day{
    padding-bottom: 10px;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.news_text{
    padding-right: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    overflow-wrap: break-word;
    word-wrap: break-word
}



/* user */
.user{
    display: flex;
    flex-wrap: wrap;
}
.user_inner{
    flex: auto;
    width: 50%;
}
.user_inner:first-child {
    flex: auto;
    width: 100%;
}
.user_inner:not(:last-of-type) {
    border-right: none;
}
.user_inner:nth-of-type(2) {
    border-right: 1px solid #1285c5;
}


/* map */

.map{
    padding: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.map_title{
    padding-bottom: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.map_text{
    font-size: 1.3rem;
    /* font-weight: bold; */
    letter-spacing: 0.05em;
    line-height: 1.6;
}

/* blog */
.blog{
    display: flex;
}
.blog_inner{
    width: 100%;
    padding: 3vw;
}
.blog_visualLink{
    cursor: pointer; /* カーソルをポインタに */
}
.blog_visualLink:hover .blog_image{
    transform: scale(1.2);
    transition: transform 0.3s ease-in; /* 速く拡大 */
}

.blog_visual{
    width: 100%;
    height: auto;
    /* padding: 5%; */
    overflow: hidden; /* はみ出た部分を隠す */
}
.blog_image{
    width: 100%;
    height: 35vw;
    object-fit: cover;
    transition: transform 1s ease-out; /* ゆっくり戻す */
}

.blog_container{
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.blog_number{
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.blog_title{
    display: inline-block;
    padding-bottom: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.6;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
}
.blog_link{
    padding-top: 2rem;
}

.blog_text{
    position: relative;
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.blog_text::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}

/* footer */
.footer{
    padding: 5rem 4vw 7rem 4vw;
    background-color: #1285c5;
    color: #FFF;

}
.footer_title{
    padding-bottom: 4rem;
    font-size: 2.2rem;
    /* font-weight: bold; */
    letter-spacing: 0.1em;
}
.access{
    padding-bottom: 3rem;
}
.access_title{
    padding-bottom: 1.4rem;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
}
.access_address{
    padding-bottom: 1.6rem;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.access_data{
    display: flex;
    padding-bottom: 1rem;


}
.access_term{
    font-size: 1.2rem;
    letter-spacing: 0.05em;

}
.access_description{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.info{


}
.Contact_inner{
    padding-bottom: 3rem;
}
.info_inner{
    padding-bottom: 3rem;
    cursor: pointer;
}
.info_link{
    display: block;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.info_title{
    padding-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
}
.info_text{
    font-size: 1.1rem;
    letter-spacing: 0.05em;
}
.info_box{
    display: grid;
    margin-top: 1rem;
}
.Contact_link{
    display: block;
    text-align: center;
    width: 60%;
    border: 1px solid #fff;
    padding: 1.2rem 1.7rem;
    margin-bottom: 8px;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* footer_bottom */
.footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sns{
    display: flex;
}
.sns_logo{
    padding-right: 20px;
}
.sns_image{
    width: 20px;
    height: 20px;
	cursor: pointer;
}
.copyright_text{
    font-size: 1rem;
    letter-spacing: 0.1em;
}
}

@media screen and (min-width: 1025px) { /*ウィンドウ幅が1025px以上の場合に適用_PC*/


/* header */
.header{
    position: relative; /* 必須 */
    width: 100%;
    overflow: visible; /* スクロール範囲を制限しない */
}

.header_title{
    position: fixed;
    top: 0;
    left: 5vw;
    height: 150px;
    font-size: 4rem;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 1100; /* ヘッダーより前面に */
    background-color: transparent; /* 初期状態では背景なし */
    padding: 10px 20px;
}

.header_top{
    position: absolute; /* 初期位置のまま */
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 垂直方向の中央揃え */
    width: 100%;
    height: 80px;
    padding: 0 15px;
    border-top: 1px solid #1285c5;
    border-bottom: 1px solid #1285c5;
    background-color: #f8f6ed;
    z-index: 1000; /* 前面に表示 */
    transition: all 0.3s ease-in-out;
}
.header_top.fixed{
    position: fixed;
    top: 0;
    left: 0;
    border-top: none;
    height: 60px;
}
.hamburger{
    display: none;
}

/* スクロール時にタイトルをヘッダー上に重ねる */
.header_title.overlap {
    top: 0;
    left: 15px;
    height: 60px;
    font-size: 2rem; /* 小さくして一体化 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* スクロール時にタイトルを縮小 */
.header_title.shrink {
    top: 10px; /* ヘッダーにぴったり合う位置に調整 */
    font-size: 2rem; /* 小さくして一体化 */
    left: 15px;
}



.header_logo{
    position: sticky;
    top: 0; /* 固定する位置を指定 */
    display: flex;

}
/* .headerTop_title{
    font-size: 2.4rem;
    letter-spacing: 0.1em;
} */

.header_btn{
    display: none;
}

.header_menu{
    display: flex;
    align-items: center;
}
.header_menu .active{
    display: flex;
    /* こていのスタイル */
    align-items: center;
}

.header_nav{
    display: flex;
    align-items: center;
    list-style: none;
}
.header_menuLink{
    padding-right: 2rem;
    list-style: none;

}
.header_text{
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    font-weight: bold;
}
.header_reserve{
    text-align: center;
    padding: 12px 22px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.headerSns{
    display: flex;
    padding-left: 4rem;
}
.headerSns_logo{
    padding-right: 1.6rem;
}
.headerSns_image{
    width: 18px;
    height: 18px;
}


/* main */


.side{
    display: flex;
    position: fixed;
    top: 15%;
    right: 1rem;
    writing-mode: vertical-rl;
    z-index: 1000;
}
.side_logo{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.mainVisual{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    border-bottom: 1px solid #1285c5;
}

.mainVisual_inner{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    border-right: 1px solid #1285c5;
}
.header_title{
    position: fixed;
    top: 0;
    left: 5vw;
    height: 150px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 4.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.mainVisual_subTitle{
    font-size: 2rem;
    letter-spacing: 0.1em;
}

.mainVisual_title{
    padding-top: 30px;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.mainVisual_hero{
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
    line-height: 0;
}

.mainVisual_image{
    position: absolute;
    top: 0;
    /* left: 50%; */
    transform: translateX(-50%);
    width: 120%;
    height: auto;
    height: 100%;
    object-fit: cover;
    animation: slideLeftRight 10s ease-in-out infinite; /* 5秒間で右にスライド */
    transition: transform 1s ease-out;

}
@keyframes slideLeftRight {
    0% {
        transform: translateX(-60px); /* 初期位置 */
    }

    100% {
        transform: translateX(0);
    }
}


/* mainSection */
.main_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2カラムに分割 */
    grid-template-rows: repeat(2, auto); /* 行を2つに分割 */
}


.main_inner{
    display: grid;
    align-items: center;
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 16rem;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.mainSection_subTitle{
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.mainSection_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
}

.mainSection_title{
    padding-bottom: 50px;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
}
.mainSection_text{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.05em;
}

.mainSection_link{
    padding-top: 60px;
}

.mainSection_btn{
    text-align: center;
    padding: 20px 60px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer; /* カーソルをポインタに */
    position: relative;
    transition: background-color 0.3s ease-in-out;
}


.mainSection_btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}


.mainSection_visual{
    width: 100%;
    height: 100vh;
    padding: 5%;
    border-bottom: 1px solid #1285c5;
}
.mainSection_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* CSSで順番を変更 */
.mainSection_visual:nth-child(2) {
    order: 1; /* 最初に表示 */
    border-right: 1px solid #1285c5;

}

.main_inner:nth-child(1) {
    order: 2; /* 2番目に表示 */
}

.main_inner:nth-child(3) {
    order: 3; /* 3番目に表示 */
    border-right: 1px solid #1285c5;

}

.mainSection_visual:nth-child(4) {
    order: 4; /* 最後に表示 */
}

/* menuSection */
.menu{
    display: flex;
    border-bottom: 1px solid #1285c5;
}

.menuSection{
    width: 100%;
    padding: 2vw;
}

.menuSection:not(:last-of-type) {
    border-right: 1px solid #1285c5;
}

.menuSection_visualLink{
    cursor: pointer; /* カーソルをポインタに */
}
.menuSection_visualLink:hover .menuSection_image{
    transform: scale(1.2);
    transition: transform 0.3s ease-in; /* 速く拡大 */
}

.menuSection_visual{
    width: 100%;
    height: auto;
    overflow: hidden; /* はみ出た部分を隠す */
}

.menuSection_image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 1s ease-out; /* ゆっくり戻す */
}

.menuSection_inner{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.menuSection_title{
    padding-bottom: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.05em;

}
.menuSection_subTitle{
    padding-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;

}
.menuSection_text{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.9;
    letter-spacing: 0.1em;
}

.menuSection_link{
    padding-top: 60px;
}

.menuSection_btn{
    text-align: center;
    padding: 20px 60px;
    background-color: #fff;
    border: 1px solid #1285c5;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer; /* カーソルをポインタに */
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.menuSection_btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}


/* news */

.news{
    display: flex;
    align-items: center;
    padding: 80px 0;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid #1285c5;
}

.news_title{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.news_container{
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
    flex: 1;
    cursor: pointer;
}
.news_container::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;

}
.news_day{
    padding-bottom: 18px;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.news_text{
    display: inline-block;
    padding-bottom: 0.4rem;
    /* padding-right: 50px; */
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-bottom: 1px dashed transparent;
}

/* user */

.user{
    display: flex;
}
.user_inner{
    flex: 1; /* 各アイテムを均等に分割 */

}
.user_inner:not(:last-of-type) {
    border-right: 1px solid #1285c5;
}

/* map */

.map{
    padding: 6rem 5vw;
    padding-bottom: 8rem;
    word-wrap: break-word; /* 推奨される方法 */
    overflow-wrap: break-word; /* 同じ意味 */
}

.map_title{
    padding-bottom: 50px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.8;
    word-wrap: break-word; /* 推奨される方法 */
    overflow-wrap: break-word; /* 同じ意味 */
}

.map_text{
    padding-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 2;
}

/* blog */
.blog{
    display: flex;
}
.blog_inner{
    padding: 2vw;
}
.blog_visualLink{
    cursor: pointer; /* カーソルをポインタに */
}
.blog_visualLink:hover .blog_image{
    transform: scale(1.2);
    transition: transform 0.3s ease-in; /* 速く拡大 */
}

.blog_visual{
    width: 100%;
    height: auto;
    overflow: hidden; /* はみ出た部分を隠す */
}
.blog_image{
    width: 100%;
    height: 32vh;
    object-fit: cover;
    transition: transform 1s ease-out; /* ゆっくり戻す */
}

.blog_container{
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.blog_number{
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.blog_box{

}
.blog_title{
    display: inline-block;
    padding-bottom: 0.4rem;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.6;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
}
.blog_link{
    padding-top: 2rem;
}
.blog_text{
    position: relative;
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.blog_text::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out;
}


/* footer */
.footer{
    padding: 7rem 4vw 7rem 4vw;
    background-color: #1285c5;
    color: #FFF;

}
.footerSection{
    flex: 1;
}
.footer_inner{
    display: flex;
}

.footer_title{
    padding-bottom: 4rem;
    color: #FFF;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.access{
    padding-bottom: 3rem;


}
.access_title{
    padding-bottom: 3rem;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
}
.access_address{
    padding-bottom: 3rem;
    font-size: 1.3rem;
    letter-spacing: 0.05em;
}

.access_data{
    display: flex;
    padding-bottom: 1rem;
}
.access_term{
    font-size: 1.3rem;
    letter-spacing: 0.05em;

}
.access_description{
    font-size: 1.3rem;
    letter-spacing: 0.05em;
}

.info{


}

.Contact_inner{
    padding-bottom: 3rem;
}

.info_inner{
    padding-bottom: 3rem;
    cursor: pointer;
}
.info_link{
    display: block;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.info_title{
    padding-bottom: 1rem;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
}
.info_text{
    font-size: 1.1rem;
    letter-spacing: 0.05em;
}
.info_box{
    display: flex;
    margin-top: 1rem;
}
.Contact_link{
    display: block;
    text-align: center;
    border: 1px solid #fff;
    padding: 1rem 1.5rem;
    margin-right: 4px;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}



/* footer_bottom */
.footer_bottom{
    display: grid;
    /* justify-content: space-between; */
    /* align-items: center; */

}
.sns{
    display: flex;
    margin-top: -50px;
}
.sns_logo{
    padding-right: 20px;
}
.sns_link{
}
.sns_image{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.copyright{
    padding-top: 2rem;
}
.copyright_text{
    font-size: 1rem;
    letter-spacing: 0.1em;
}

}



/* hover */

/* もっとみるボタン */
.mainSection_btn:hover {
    border: 1px dashed #1285c5;
}

.mainSection_btn:hover::after {
    opacity: 1;  /* アイコンを表示 */
    right: 15px;  /* 少し右へ移動 */
}

.menuSection_btn:hover {
    border: 1px dashed #1285c5;
}

.menuSection_btn:hover::after {
    opacity: 1;  /* アイコンを表示 */
    right: 15px;  /* 少し右へ移動 */
}

/*  */
.news_text:hover {
    border-bottom: 1px dashed #1285c5;
}

.news_container:hover::after{
    right: 0;  /* 少し右へ移動 */
}

/* ブログ */
.blog_title:hover {
    border-bottom: 1px dashed #1285c5;
}
.blog_container:hover .blog_text::after{
    right: 0;  /* 少し右へ移動 */
}

/* フッター */
.Contact_link:hover{
    opacity: 0.7;
}

.info_link:hover {
    opacity: 0.7;
}

